@model SplitViewModel

@{
    ViewData["Title"] = "Split Expenses";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div class="card">
    <div class="card-body">
        @if (Model?.ExpenseList?.Any() == true)
        {
            <form asp-action="Create" asp-controller="Split" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Description</th>
                            <th class="text-end">Amount</th>
                            <th class="text-end">Split</th>
                        </thead>
                        <tbody>
                            @foreach (var expense in Model.ExpenseList)
                            {
                                <tr>
                                    <td>@expense.Description</td>
                                    <td class="text-end">@expense.Amount.ToString("C")</td>
                                    <td class="text-end">@((expense.Amount / Model.GroupMemberCount).ToString("C"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Total</b></td>
                                <td class="text-end">@Model.GetMyShare()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary mb-3">Settle Up</button>
                    <a asp-action="Index" asp-controller="Group" class="btn btn-secondary">Back</a>
                </div>

                <input type="hidden" asp-for="GroupKey" />
            </form>
        }
        else
        {
            <p class="text-center">Unable to find expense list for group.</p>
        }
    </div>
</div>
