@model IEnumerable<GroupViewModel>
@{
   ViewData["Title"] = "Expense Groups";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<hr />
@if (Model?.Any() == true)
{
   @foreach (var group in Model)
   {
      <div class="card mb-4">
         <div class="card-body">
            <div class="vstack gap-3">
               <h2 class="display-5">@group.Name</h2>
               <div class="hstack gap-3">
                  <a asp-action="Edit" asp-route-key="@group.UniqueKey" class="btn btn-secondary flex-fill">Edit</a>
                  <div class="vr"></div>
                  <a asp-action="Invite" asp-route-key="@group.UniqueKey" class="btn btn-secondary flex-fill">Invite</a>
                  <div class="vr"></div>
                  <a href="#" class="btn btn-secondary flex-fill">Expense</a>
               </div>
               <fieldset>
                  <legend>Members: @(group.Members.Count)</legend>
                  @if (group.Members.Count > 0)
                  {
                     <ul class="list-group">
                        @foreach (var user in group.Members)
                        {
                           <li class="list-group-item">@(user.Name)@(group.OwnerId == user.Id ? "*" : "")</li>
                        }
                     </ul>
                  }
               </fieldset>
               <span>Spent: $0</span>
               <span>Outstanding Balance: $0</span>
            </div>
         </div>
      </div>
   }
}
else
{
   <div class="alert alert-info">
      No groups to display.
   </div>
}

<div class="d-grid">
   <a asp-action="Create" class="btn btn-primary">+ Create Group</a>
</div>